@charset "utf-8";

/* 크로스브라우징을 위한 CSS 초기화 */
*{margin:0; padding:0;} 
body{font-size:12px; color:#a9a9a9; font-family:'Noto Sans KR', sans-serif;}/* font-family:'Nanum Gothic', sans-serif; */
a{outline:0px;}
a:link{font-size:12px; color:#a9a9a9; text-decoration:none;}                                       
a:hover{font-size:12px; color:#a9a9a9; text-decoration:none;}
a:visited{font-size:12px; color:#a9a9a9;  text-decoration:none;}
caption, legend{font-size:0px; width:0px; height:0px; overflow:hidden; position:absolute; visibility:hidden;}
img{border:0px;}
fieldset,img{border:0; vertical-align:top;}
table{border-collapse:collapse; border-spacing:0; border:0;}
input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}
input[type=password]{IME-MODE: disabled;}
ul,ol,dl{list-style:none; margin:0;}
textarea{overflow:auto;} 
button,label{cursor:pointer;}
hr{display:none; clear:both;}

/* 관리자 에디터에서 ol, ul 붙혔을경우 읽기페이지에서 나오기 */
.readEdit ul{list-style:inside; padding-left:15px;}
.readEdit ol{list-style:decimal; padding-left:15px;}

/* 로딩 */
.bg_wrap{position:fixed; z-index:10000; background-color:rgba(0,0,0,0.7);width:100%;height:100vh;}
.bg_wrap .ring{position:absolute;top:50%;left:50%;width:150px;height:150px;background:transparent;border:3px solid #3c3c3c;border-radius:50%;text-align:center;line-height:150px;font-size:20px;color:#fff000;letter-spacing:4px;text-transform:uppercase;text-shadow:0 0 10px #fff000;box-shadow:0 0 20px rgba(0,0,0,0.5); transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%);}
.bg_wrap .ring:before{content:"";position:absolute;top:-3px;left:-3px;width:100%;height:100%;border:3px solid transparent;border-top:3px solid #fff000;border-right:3px solid #fff000;border-radius:50%;animation:animateCircle 2s linear infinite;}
.bg_wrap span{display:block;position:absolute;top:calc(50% - 2px);left:50%;width:50%;height:4px;background:transparent;transform-origin:left;animation: animate 2s linear infinite;}
.bg_wrap span:before{content:"";position:absolute;width:10px;height:10px;border-radius:50%;background:#fff000;top:-5px;right:-5px;box-shadow:0 0 20px #fff000;}

@keyframes animateCircle
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}

@keyframes animate
{
	0%
	{
		transform:rotate(45deg);
	}
	100%
	{
		transform:rotate(405deg);
	}
}