@charset "utf-8";
/* 프로그램리스트 모바일 버전 */
.all_m_btn {padding:10px; background:#323337;}
.all_m_btn img {position:absolute; top:28%; left:15px; width:10%; max-width:40px; cursor:pointer;}
.all_m_btn .mutit {text-align:center; font-weight:900; font-size:26px; color:#fff;}
.pro_m_wrap {display:none; font-family:'Nanum Gothic', sans-serif; transition:all 0.3s linear;}

.pro_m_wrap .m_menu {width:200px;}
.pro_m_wrap .bg_black {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:-1;}



.pro_m_wrap .subleftmenu {
	list-style:none;
	margin:0;
	padding:0;
}
.pro_m_wrap .subleftmenu li {
	border-bottom:1px solid #515155;
	background:#323337;
}
.pro_m_wrap .subleftmenu a {
	display:block;
	color:#b5b2b2;
	font-size:14px;
	padding:11px 5px 11px 15px;
	font-family:'Noto Sans KR';
}
.sub_title_m{
	font-size:28px !important;
	font-weight:bold;
	color:#fff !important;
	padding:12px 5px 12px 15px !important;
}
.pro_m_wrap .subleftmenu a:hover {
	background:#307dd4;
	color:#fff;
}
.sub_title_m:hover {
	background:#323337 !important;
	cursor:default;
}

@media all and (max-width:999px){
	.pro_m_wrap {display:block; position:absolute; left:-100%; top:0; z-index:999;}
	.pro_m_wrap.view {left:0;}
}



/* 최근본 상품 퀵메뉴 */
.quick {overflow:hidden; z-index:110; position:fixed; right:20px; top:50%; width:113px; border:1px solid #d9d9d9; box-sizing:border-box; background-color:#fff; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); border-radius:10px; }
.quick ul {margin-bottom:0; }
.quick ul li.recent_prod {}
.quick ul li.recent_prod p {height:30px; font-size:16px; color:#656565; letter-spacing:-0.025em; line-height:30px; background-color:#d9d9d9; text-align:center; }
.quick ul li.recent_prod ul {padding:14px; box-sizing:border-box; }
.quick ul li.recent_prod ul li {border:1px solid #d9d9d9; margin-bottom:12px; box-sizing:border-box; }
.quick ul li.recent_prod ul li:last-of-type {margin-bottom:0; }
.quick ul li.recent_prod ul li img {width:100%; height:auto; }
.quick ul li.recent_prod .quick_pager {margin-top:0; margin-bottom:30px; }
.quick ul li.recent_prod .quick_pager a {display:inline-block; vertical-align:middle; width:auto; height:auto; border:0 none; margin:0 3px; line-height:14px; font-size:14px; color:#b6b6b6; }
.quick ul li.recent_prod .quick_pager a.active {color:#666666; }
.quick ul li.recent_prod .quick_pager .page_prev,
.quick ul li.recent_prod .quick_pager .page_next {display:inline-block; vertical-align:middle; width:9px; height:11px; border:0 none; text-indent:-9999px; }
.quick ul li.recent_prod .quick_pager .page_prev {background:url('/img/theme/quick_prev_btn.png') no-repeat center center; }
.quick ul li.recent_prod .quick_pager .page_next {background:url('/img/theme/quick_next_btn.png') no-repeat center center; }

.quick ul li.top_btn {width:100%; height:48px; background-color:#666666; box-sizing:border-box; line-height:48px; text-align:center;}
.quick ul li.top_btn a {display:block; color:#fff; line-height:48px; font-size:16px; letter-spacing:-0.025em; }

.quick_top_btn {display:none; z-index:999; position:fixed; right:20px; bottom:-60px; width:57px; height:57px; background-color:#798ebb; border-radius:50%; text-align:center; cursor:pointer; transition:all 0.5s; }
.quick_top_btn.on {bottom:60px; }
.quick_top_btn img {padding-top:12px; }
.quick_top_btn p {font-size:16px; color:#ffffff; letter-spacing:-0.025em; }

@media all and (max-width:1000px){
	.quick {display:none; }
	.quick_top_btn {display:block; }
}





/* ==========================================================================
	공통
========================================================================== */
.inner{width:100%; max-width:1400px; margin:0 auto;}
br.pc_br{display:block !important;}

@media all and (max-width:1400px){
	.inner{width:93.75%;}
	br.pc_br{display:none !important;}
}

.mont{font-family:'Montserrat', sans-serif;}



/* ==========================================================================
	header
========================================================================== */
#header{position:fixed; width:100%; top:0; left:0; right:0; z-index:50; font-size:0; letter-spacing:-4px; background:rgba(255, 255, 255, 0.8); text-align:center; }
#header:before{content:''; position:absolute; top:0; left:0; display:block; width:100%; height:90px; background:#fff;}
#header:after {content:''; display:block; clear:both; }
#header .logo{position:relative; float:left; display:inline-block; vertical-align:top; margin:32px 0; margin-left:40px;}
#header .logo a{display:inline-block;}
#header .gnb{display:inline-block; width:calc(100% - 660px); text-align:center; padding:32px 0 0;}
#header .gnb > ul > li{display:inline-block; vertical-align:top; width:14.285714%; max-width:150px;}
#header .gnb > ul > li > a{position:relative; display:block; font-size:18px; color:#444444; letter-spacing:-0.045em; font-weight:300; padding:0 5px 31px; box-sizing:border-box;}
#header .gnb > ul > li > a:before{content:''; position:absolute; display:block; width:1px; height:10px; background:#cecece; top:10px; left:-1px;}
#header .gnb > ul > li > a:after{content:''; position:absolute; display:block; width:0; height:5px; background:#0f1541; bottom:0; left:0; transition:all 0.3s; -webkit-transition:all 0.3s; -o-transition:all 0.3s; -ms-transition:all 0.3s; -moz-transition:all 0.3s;}
#header .gnb > ul > li:first-of-type > a:before{display:none;}
#header .gnb > ul > li ul.depth02{display:none; padding:10px 5px; min-height:370px; box-sizing:border-box;}
#header .gnb > ul > li ul.depth02 li{margin:20px 0;}
#header .gnb > ul > li ul.depth02 li a{display:inline-block; font-size:18px; color:#444444; letter-spacing:-0.045em; font-weight:300;}
#header .gnb > ul > li:hover > a{color:#0f1541; font-weight:bold;}
#header .gnb > ul > li:hover > a:after{width:100%;}
#header .gnb > ul > li:hover ul.depth02{background:#fff;}
#header .gnb.on > ul > li ul.depth02{display:block;}
#header .right_box{position:relative; float:right; display:inline-block; vertical-align:top; margin:35px 0; }
#header .right_box ul{display:inline-block; vertical-align:middle; margin:0; margin-right:40px;}
#header .right_box ul li{position:relative; display:inline-block; vertical-align:middle; margin-right:20px;}
#header .right_box ul li:before {content:''; position:absolute; right:-10px; top:calc(50% - 4px); width:1px; height:10px; background-color:#a49f9d; }
#header .right_box ul li:last-of-type{margin-right:0;}
#header .right_box ul li:last-of-type:before {display:none; }
#header .right_box ul li a{display:block; font-size:14px; color:#211612; letter-spacing:-0.045em; font-weight:400;}
#header .right_box ul li a img{display:inline-block; vertical-align:middle; margin-right:10px;}
#header .right_box ul li a p{display:inline-block; vertical-align:middle;}
/*#header .right_box ul li:nth-of-type(1) a{color:#df304d;}
#header .right_box ul li:nth-of-type(2) a{color:#0f1541;}*/
#header .right_box .all_btn{display:none; vertical-align:middle; width:38px; text-align:right;}
#header .right_box .all_btn i{display:inline-block; width:100%; height:3px; background:#000000; margin:4px 0;}
#header .right_box .all_btn i:nth-of-type(2){width:66%;}

#header_blank{display:block; width:100%; height:90px;}
.mo_menu{position:fixed; right:-100%; top:0; width:100%; height:100%; overflow-y:auto; background:#fff; z-index:999; -webkit-transition:all .5s; -moz-transition:all .5s; -ms-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
.mo_menu.on{right:0;}
.mo_menu .top{position:relative; width:100%; height:110px; top:0; left:0; right:0; z-index:50; font-size:0; letter-spacing:-4px; background:rgba(255, 255, 255, 0.8);}
.mo_menu .top:after{content:''; display:table; clear:both;}
.mo_menu .top a.logo{display:inline-block; vertical-align:top; margin:42px 0; margin-left:20px;}
.mo_menu .top .right_box{display:inline-block; vertical-align:top; margin:46px 0; margin-right:20px; float:right;}
.mo_menu .top .right_box ul{display:inline-block; vertical-align:middle; margin:0; margin-right:30px;}
.mo_menu .top .right_box ul li{position:relative; display:inline-block; vertical-align:middle; margin-right:20px;}
.mo_menu .top .right_box ul li:before {content:''; position:absolute; right:-10px; top:calc(50% - 4px); width:1px; height:10px; background-color:#a49f9d; }
.mo_menu .top .right_box ul li:last-of-type{margin-right:0;}
.mo_menu .top .right_box ul li:last-of-type:before{display:none;}
.mo_menu .top .right_box ul li a{display:block; font-size:14px; color:#211612; letter-spacing:-0.045em; font-weight:300;}
.mo_menu .top .right_box ul li a img{display:inline-block; vertical-align:middle; margin-right:10px;}
.mo_menu .top .right_box ul li a p{display:inline-block; vertical-align:middle;}
/*.mo_menu .top .right_box ul li:nth-of-type(1) a{color:#df304d;}
.mo_menu .top .right_box ul li:nth-of-type(2) a{color:#0f1541;}*/
.mo_menu .top .right_box .close_btn{display:inline-block; vertical-align:middle; margin-top:0;}
.mo_menu .gnb{}
.mo_menu .gnb > ul{}
.mo_menu .gnb > ul > li{}
.mo_menu .gnb > ul > li > a{display:block; padding:30px 20px; box-sizing:border-box; border-bottom:1px solid #e4e4e4; font-size:28px; font-weight:300; letter-spacing:-0.045em; color:#444444; background:url('/img/mo_arrow.png') no-repeat right 20px center;}
.mo_menu .gnb > ul > li.on > a{background:#04264c url('/img/mo_arrow_on.png') no-repeat right 20px center; border-bottom-color:#04264c; color:#fff;}
.mo_menu .gnb ul.depth02{display:none; padding:20px 20px 40px; box-sizing:border-box;}
.mo_menu .gnb ul.depth02 li{margin-bottom:30px;}
.mo_menu .gnb ul.depth02 li:last-of-type{margin-bottom:0;}
.mo_menu .gnb ul.depth02 li a{display:block; position:relative; padding-left:15px; box-sizing:border-box; font-size:24px; font-weight:300; letter-spacing:-0.045em; color:#666666;}
.mo_menu .gnb ul.depth02 li a:before{content:'-'; position:absolute; left:0;}


@media all and (max-width:1600px){
	#header .gnb{width:calc(100% - 625px);}
	#header .right_box ul li{margin-right:20px;}
	#header .right_box ul li:before {right:-12px; }
	#header .right_box ul li a img{margin-right:5px;}
}
@media all and (max-width:1400px){
	#header .logo{margin-left:10px;}
	#header .gnb{width:calc(100% - 535px);}
	#header .gnb > ul > li > a{font-size:16px; padding:0 2px 34px;}
}
@media all and (max-width:1200px){
	#header:after{content:''; display:block; clear:both;}
	#header .gnb{display:none;}
	#header .right_box{float:right; margin:28px 0;}
	#header .right_box ul{display:none;}
	#header .right_box .all_btn{display:block; margin-right:20px;}
}


/* ==========================================================================
	footer
========================================================================== */
#footer{padding:100px 0; background:#eff0f1;}
#footer .footer_top{position:relative; padding-bottom:60px; border-bottom:2px solid #d4d5d7;}
#footer .footer_top h4{font-size:18px; color:#6f7173; letter-spacing:-0.045em; font-weight:400; margin:0;}
#footer .footer_top h3{font-size:38px; color:#222222; letter-spacing:0em; font-weight:700; margin:0; line-height:1.2;}
#footer .footer_top h3 span{display:inline-block; font-size:22px; color:#666666; font-weight:500;}
#footer .footer_top ul{margin:0; margin-top:20px;}
#footer .footer_top ul li{position:relative; display:inline-block; vertical-align:middle; margin:10px 0; margin-right:120px;}
#footer .footer_top ul li:last-of-type{margin-right:0;}
#footer .footer_top ul li:before{content:''; position:absolute; display:block; width:1px; height:34px; background:#4b4b4b; top:50%; right:-60px; transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%);}
#footer .footer_top ul li:last-of-type:before{display:none;}
#footer .footer_top ul li h6{display:inline-block; vertical-align:middle; font-size:18px; color:#04264c; letter-spacing:-0.045em; font-weight:600; margin:0; background:#d4d5d7; width:150px; padding:6px 0; text-align:center; border-radius:30px; margin-right:10px;}
#footer .footer_top ul li h6 span{position:relative;}
#footer .footer_top ul li h6 span:before{content:''; position:absolute; display:block; width:2px; height:10px; background:#04264c; top:-9px; left:-6px;}
#footer .footer_top ul li p{display:inline-block; vertical-align:middle; font-size:22px; color:#777879; letter-spacing:0em; font-weight:700; }
#footer .footer_top .sns {position:absolute; right:0; top:0; font-size:0; letter-spacing:-4px; }
#footer .footer_top .sns a {display:inline-block;}
#footer .footer_top .sns a + a{margin-left:5px;}
#footer .footer_mid{padding:60px 0; font-size:0; letter-spacing:-4px;}
#footer .footer_mid .logo{margin:0; margin-bottom:40px;}
#footer .footer_mid .logo a{display:inline-block;}
#footer .footer_mid .logo img{max-width:80%;}
#footer .footer_mid .w40{display:inline-block; vertical-align:top; width:40%; padding-right:20px; box-sizing:border-box; margin:20px 0;}
#footer .footer_mid .w38{display:inline-block; vertical-align:top; width:38%; padding-right:20px; box-sizing:border-box; margin:20px 0;}
#footer .footer_mid .w22{display:inline-block; vertical-align:top; width:22%; margin:20px 0;}
#footer .footer_mid h5{font-size:18px; color:#222222; letter-spacing:-0.045em; font-weight:500; margin:0; margin-bottom:5px;}
#footer .footer_mid p{font-size:16px; color:#777879; letter-spacing:-0.045em; font-weight:300; line-height:1.6; word-break:keep-all;}
#footer .footer_bot:after{content:''; display:block; clear:both;}
#footer .footer_bot p{display:inline-block; font-size:14px; color:#777879; letter-spacing:0em; font-weight:400; margin:10px 0;}
#footer .footer_bot ul{float:right; margin:0;}
#footer .footer_bot ul li{display:inline-block; vertical-align:top; margin-right:40px;}
#footer .footer_bot ul li:last-of-type{margin-right:0;}
#footer .footer_bot ul li a{display:block; font-size:16px; color:#777879; letter-spacing:-0.045em; font-weight:300;}

@media all and (max-width:1000px){
	#footer{padding:60px 0;}
	#footer .footer_top{padding-bottom:40px;}
	#footer .footer_top ul li{margin-right:60px;}
	#footer .footer_top ul li:before{right:-30px;}
	#footer .footer_top .sns {position:static; margin-top:20px; }
	#footer .footer_mid{padding:40px 0;}
	#footer .footer_mid .w40{width:50%;}
	#footer .footer_mid .w38{width:50%;}
	#footer .footer_mid .w22{width:50%;}
}
@media all and (max-width:767px){
	#footer .footer_top ul li{display:block; margin-right:0;}
	#footer .footer_top ul li:before{display:none;}
	#footer .footer_mid .w40{width:100%;}
	#footer .footer_mid .w38{width:100%;}
	#footer .footer_mid .w22{width:100%;}
}



/* ==========================================================================
	quick_menu
========================================================================== */
#quick_menu{position:fixed; width:110px; top:50%; right:20px; text-align:center; z-index:40; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -moz-transform:translateY(-50%);}
#quick_menu .top_logo {width:95px; height:95px; margin:0 auto 10px; box-shadow:0px 10px 15px rgba(0,0,0,0.25); border-radius:50%; }
#quick_menu .top_logo img {max-width:100%; }
#quick_menu ul + ul{margin-top:2px;}
#quick_menu ul li{background:#fff; border:1px solid #dddddd; box-sizing:border-box; margin-top:-1px;}
#quick_menu ul li a{display:block; font-size:16px; color:#888888; letter-spacing:-0.045em; font-weight:300; padding:5px 0;}
#quick_menu ul li h6{font-size:14px; color:#666666; letter-spacing:-0.045em; font-weight:500; margin:0;}
#quick_menu ul li h5{font-size:16px; color:#04264c; letter-spacing:-0.045em; font-weight:700; margin:0;}
#quick_menu ul li p{font-size:14px; color:#888888; letter-spacing:-0.045em; font-weight:300;}
#quick_menu ul li.tit01{padding:5px 0; background:#cbcbcb;}
#quick_menu ul li.tit01 h6{color:#fff;}
#quick_menu ul li.tit02{padding:5px 0; background:#04264c; cursor:pointer;}
#quick_menu ul li.tit02 h6{color:#fff;}
#quick_menu ul li.kakao{background:#ffe600;}
#quick_menu ul li.kakao h6{color:#381e1e;}
#quick_menu ul.type02 li{margin-bottom:2px;}
#quick_menu ul.type02 li:last-of-type{margin-bottom:0;}

@media all and (max-width:1000px){
	#quick_menu{display:none;}
}



/* ==========================================================================
	sub_common
========================================================================== */
.sub_visual{height:450px; background:url('/img/sub_visual00.jpg') no-repeat center center / cover;}
.sub_visual .text{position:relative; text-align:center; width:93.75%; max-width:1400px; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); box-sizing:border-box; padding:20px 0;}
.sub_visual .text:before{content:''; position:absolute; display:block; width:137px; height:45px; background:url('/img/sub_visual_deco01.png') no-repeat center center / contain; top:-45px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -o-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%); z-index:1;}
.sub_visual .text:after{content:''; position:absolute; display:block; width:137px; height:106px; background:url('/img/sub_visual_deco02.png') no-repeat center center / contain; bottom:-40px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -o-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%); z-index:1;}
.sub_visual .text h6{font-size:16px; color:#9ab1cb; letter-spacing:0.01em; font-weight:400; margin:0; margin-bottom:10px;}
.sub_visual .text h2{font-size:54px; color:#fff; letter-spacing:-0.045em; font-weight:700; margin:0; line-height:1.2;}
.sub_visual .text i{display:block; width:22px; height:28px; background:url('/img/sub_visual_arrow.png') no-repeat center center / contain; margin:40px auto 0;}

.sub_route{padding:20px 0;}
.sub_route .home{display:inline-block; vertical-align:top; }
.sub_route .home a{position:relative; display:inline-block; vertical-align:top; font-size:18px; color:#e13a55; letter-spacing:0em; font-weight:600; padding-left:15px;}
.sub_route .home a:before{content:''; position:absolute; display:block; width:5px; height:5px; background:#e13a55; border-radius:50%; top:6px; left:0; }
.sub_route .home a img{display:inline-block; vertical-align:top; margin-top:4px;}
.sub_route .home i{display:inline-block; vertical-align:top; width:56px; height:1px; background:#e4e4e4; margin:4px 20px 0;}
.sub_route ul{display:inline-block; vertical-align:top;}
.sub_route ul li{position:relative; display:inline-block; vertical-align:top; margin-right:40px;}
.sub_route ul li:last-of-type{margin-right:0;}
.sub_route ul li:before{content:''; position:absolute; display:block; width:5px; height:10px; background:url('/img/sub_route_arrow.png') no-repeat center center / contain; top:50%; right:-25px; transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.sub_route ul li:last-of-type:before{display:none;}
.sub_route ul li a{display:block; font-size:16px; color:#888888; letter-spacing:-0.045em; font-weight:400;}

@media all and (max-width:1000px){
	.sub_visual{height:360px;}
	.sub_visual .text:before{width:107px; height:35px; top:-35px;}
	.sub_visual .text:after{width:107px; height:86px; bottom:-30px;}
	.sub_visual .text i{margin:30px auto 0;}
	.sub_route .home i{width:30px; margin:0 10px;}
}


